### Gradle ###
.gradle/
gradle/
gradlew
gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
buid/
*/build/
/build/

### IntelliJ IDEA ###
.idea
*/.idea
*.iws
*/*.iws
*.iml
*/*.iml
*.ipr
*/*.ipr
/out/
*/out/

/logs/
logs/
*/logs/

*/logs/


*.jar

.DS_Store
/.DS_Store
*/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/volumes

nginx/nginx-logs/access.log
nginx/nginx-logs/error.log
nginx/nginx-logs/nginx.pid
